### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(50)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,132,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
30,30,Idai61,19,Male,140,Striker,2.94
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38
34,34,Sondim73,19,Male,160,Azurewrath,4.40
35,35,Jeyciman68,22,Male,53,Vengeance Cleaver,2.05
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
39,39,Sondilsaya62,21,Male,172,Blade of the Grave,3.14
40,40,Aerithriaphos45,20,Male,143,Frenzied Scimitar,1.56
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77
43,43,Aelly27,24,Male,116,Renewed Skeletal Katana,4.18
44,44,Tyeosri53,24,Male,9,"Thorn, Conqueror of the Corrupted",2.73
45,45,Haerith37,23,Male,181,Reaper's Toll,1.66
46,46,Yasrisu92,27,Male,102,Avenger,3.44
47,47,Chanuchi25,20,Male,170,Shadowsteel,3.97
48,48,Asur96,20,Male,138,"Peacekeeper, Wit of Dark Magic",4.74
49,49,Iaralrgue74,33,Male,110,Suspension,1.44

## Player Count

* Display the total number of players

check to confirm if any cells are missing data values. All contain identifiable content.

In [2]:
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

identify data types of cells

In [3]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [4]:
unique_player_count = len(purchase_data["SN"].unique())
unique_player_count

576

In [5]:
total_players_df = pd.DataFrame({"Total Players":[unique_player_count]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average purchase price, total number of purchases and total revenue.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
unique_items_count = len(purchase_data["Item ID"].unique())
total_purchases = len(purchase_data["Item ID"])
ave_purchase_price = purchase_data["Price"].mean()
total_revenue = purchase_data["Price"].sum()

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[unique_items_count],
                                    "Total Number of Purchases":[total_purchases],
                                   "Average Purchase Price":[ave_purchase_price],
                                   "Total Revenue":[total_revenue]}).round(decimals=2)
purchasing_analysis_df["Average Purchase Price"] = purchasing_analysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].astype(float).map("${:,.2f}".format)
purchasing_analysis_df

,Number of Unique Items,Total Number of Purchases,Average Purchase Price,Total Revenue
0,179,780,$3.05,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
reduced_purchase_data = purchase_data[["SN","Gender","Age"]]
reduced_purchase_data = reduced_purchase_data.drop_duplicates()
reduced_purchase_data

                SN  Gender  Age
0          Lisim78    Male   20
1      Lisovynya38    Male   40
2       Ithergue48    Male   24
3    Chamassasya86    Male   24
4        Iskosia90    Male   23
..             ...     ...  ...
773         Hala31    Male   21
774     Jiskjask80    Male   11
775     Aethedru70  Female   21
777     Yathecal72    Male   20
778        Sisur91    Male    7

[576 rows x 3 columns]

In [8]:
gender_count = reduced_purchase_data["Gender"].value_counts()
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [9]:
gender_percent = (gender_count/unique_player_count)*100
gender_percent

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [10]:
gender_demographics = pd.DataFrame({"Total Count":gender_count,
                                   "Percentage of Players":gender_percent})
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].astype(float).map("{:.2f}%".format)
gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
purchasing_analysis = purchase_data[["Purchase ID", "Price", "Gender", "SN"]]
purchasing_analysis.head(10)

   Purchase ID  Price                 Gender             SN
0            0   3.53                   Male        Lisim78
1            1   1.56                   Male    Lisovynya38
2            2   4.88                   Male     Ithergue48
3            3   3.27                   Male  Chamassasya86
4            4   1.44                   Male      Iskosia90
5            5   3.61                   Male        Yalae81
6            6   2.18                   Male      Itheria73
7            7   2.67                   Male    Iskjaskst81
8            8   1.10                   Male      Undjask33
9            9   3.58  Other / Non-Disclosed    Chanosian48

In [12]:
purchase_count = purchasing_analysis.groupby("Gender").count()["SN"]
total_purchase_value = purchasing_analysis.groupby("Gender").sum()["Price"]
ave_purchase_cost = purchasing_analysis.groupby("Gender").mean()["Price"]

purchasing_analysis_summary_df = pd.DataFrame({"Purchase Count":purchase_count,
                                              "Average Purchase Price":ave_purchase_cost,
                                              "Total Purchase Value":total_purchase_value})
purchasing_analysis_summary_df["Avg Total Purchase Per Person"] = purchasing_analysis_summary_df["Total Purchase Value"]/gender_demographics["Total Count"]

purchasing_analysis_summary_df["Average Purchase Price"] = purchasing_analysis_summary_df["Average Purchase Price"].astype(float).map("${:.2f}".format)
purchasing_analysis_summary_df["Total Purchase Value"] = purchasing_analysis_summary_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purchasing_analysis_summary_df["Avg Total Purchase Per Person"] = purchasing_analysis_summary_df["Avg Total Purchase Per Person"].astype(float).map("${:.2f}".format)

purchasing_analysis_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
purchase_data["Age"].max()

45

In [14]:
purchase_data["Age"].min()

7

In [15]:
age_demographics_df = reduced_purchase_data[["SN", "Age"]]
age_demographics_df.head()

              SN  Age
0        Lisim78   20
1    Lisovynya38   40
2     Ithergue48   24
3  Chamassasya86   24
4      Iskosia90   23

In [16]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_demographics_df["Age Range"] = pd.cut(age_demographics_df["Age"], bins, labels=bin_names, include_lowest=True)
age_demographics_df.head()

              SN  Age Age Range
0        Lisim78   20     20-24
1    Lisovynya38   40       40+
2     Ithergue48   24     20-24
3  Chamassasya86   24     20-24
4      Iskosia90   23     20-24

In [17]:
grouped_ages = age_demographics_df.groupby("Age Range").count()["SN"]
age_percent = (grouped_ages / unique_player_count)*100
grouped_ages_df = pd.DataFrame({"Unique Player Count":grouped_ages,
                               "Percentage of Players":age_percent})
grouped_ages_df["Percentage of Players"] = grouped_ages_df["Percentage of Players"].astype(float).map("{:.2f}%".format)
grouped_ages_df

           Unique Player Count Percentage of Players
Age Range
<10                         17                 2.95%
10-14                       22                 3.82%
15-19                      107                18.58%
20-24                      258                44.79%
25-29                       77                13.37%
30-34                       52                 9.03%
35-39                       31                 5.38%
40+                         12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
binned_purchase_data = purchase_data
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
binned_purchase_data["Age Range"] = pd.cut(binned_purchase_data["Age"], bins, labels=bin_names, include_lowest=True)
binned_purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [19]:
binned_purchase_count = binned_purchase_data.groupby("Age Range").count()["Purchase ID"]
binned_total_purchase_value = binned_purchase_data.groupby("Age Range").sum()["Price"]
binned_ave_price = binned_total_purchase_value / binned_purchase_count
binned_avg_purchase_per_person = binned_total_purchase_value / grouped_ages

binned_purchasing_analysis_df = pd.DataFrame({"Puchase Count":binned_purchase_count,
                                             "Average Purchase Price":binned_ave_price,
                                             "Total Purchase Value":binned_total_purchase_value,
                                             "Avg Total Purchase per Person": binned_avg_purchase_per_person})
binned_purchasing_analysis_df["Average Purchase Price"] = binned_purchasing_analysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
binned_purchasing_analysis_df["Total Purchase Value"] = binned_purchasing_analysis_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
binned_purchasing_analysis_df["Avg Total Purchase per Person"] = binned_purchasing_analysis_df["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

binned_purchasing_analysis_df

,Puchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below
    - identify top 5 spenders in the game by total purchase value


* Create a summary data frame to hold the results
    - include SN, Purchase Count, Average Purchase Price


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
spending_by_sn = purchase_data.groupby("SN").sum()["Price"]
purchases_by_sn = purchase_data.groupby("SN").count()["Purchase ID"]
ave_spent_by_sn = purchase_data.groupby("SN").mean()["Price"]

top_spenders_df = pd.DataFrame({"Purchase Count":purchases_by_sn,
                               "Average Purchase Price":ave_spent_by_sn,
                               "Total Purchase Value":spending_by_sn}).sort_values(["Total Purchase Value"],ascending=False)
top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
top_spenders_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [30]:
most_popular_df = purchase_data[["Item ID", "Item Name", "Price"]]
most_popular_df.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [22]:
grp_most_popular_df = most_popular_df.groupby(["Item ID","Item Name"])
grp_most_popular_df.head()

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
764      113                          Solitude's Reaver   4.07
765      130                                      Alpha   2.07
766       58          Freak's Bite, Favor of Holy Might   4.14
777       67      Celeste, Incarnation of the Corrupted   3.46
779       50                                       Dawn   4.60

[690 rows x 3 columns]

In [31]:
#purchase count
pop_purchase_count = grp_most_popular_df["Item ID"].count()
#pop_purchase_count
#average item price
pop_ave_item_price = grp_most_popular_df["Price"].mean()
#pop_ave_item_price
#total purchase value
pop_total_purchase_value = grp_most_popular_df["Price"].sum()
pop_total_purchase_value

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [63]:
comb_most_pop_df = pd.DataFrame({"Purchase Count": pop_purchase_count,
                                "Item Price":pop_ave_item_price,
                                "Total Purchase Value":pop_total_purchase_value}).sort_values(["Purchase Count"],ascending=False)
#comb_most_pop_df["Item Price"] = comb_most_pop_df["Item Price"].astype(float).map("${:,.2f}".format)
#comb_most_pop_df["Total Purchase Value"] = comb_most_pop_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)

comb_most_pop_format = comb_most_pop_df.head(5).style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})
comb_most_pop_format

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [64]:
most_profitable_items = comb_most_pop_df.sort_values(["Total Purchase Value"], ascending=False)
most_profitable_items_format = most_profitable_items.head(5).style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})
most_profitable_items_format